.logo-img {
  width: 45px;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon {
  color: #fff;
}
.nav-icon {
  font-size: 1.5em;
  color: white;
}
.color-changer-screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
}
.color-changer-screen .center-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.color-changer-screen .center-center .feel-img div{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16vw;
  height: 16vw;
  margin-top: -6vw;
}
.edit-feel-icon {
  float: right;
}
.feel-icon-img {
  width: 100%;
}

@media only screen and (orientation: landscape){
  .color-changer-screen .center-center .feel-img div{
    width: 16vh;
    height: 16vh;
  }
}
.color-changer-screen .center-center .feel-img div img{
  height: 100%;
}
.color-changer-screen .center-center .gold{
  transform: rotate(225deg) translate(36vw) rotate(-225deg);
}
@media only screen and (orientation: landscape){
  .color-changer-screen .center-center .gold{
    transform: rotate(225deg) translate(36vh) rotate(-225deg);
  }
}
.color-changer-screen .center-center .orange{
  transform: rotate(180deg) translate(36vw) rotate(-180deg);
}
@media only screen and (orientation: landscape){
  .color-changer-screen .center-center .orange{
    transform: rotate(180deg) translate(36vh) rotate(-180deg);
  }
}
.color-changer-screen .center-center .red{
  transform: rotate(135deg) translate(36vw) rotate(-135deg);
}
@media only screen and (orientation: landscape){
  .color-changer-screen .center-center .red{
    transform: rotate(135deg) translate(36vh) rotate(-135deg);
  }
}
.color-changer-screen .center-center .purple{
  transform: rotate(90deg) translate(36vw) rotate(-90deg);
}
@media only screen and (orientation: landscape){
  .color-changer-screen .center-center .purple{
    transform: rotate(90deg) translate(36vh) rotate(-90deg);
  }
}
.color-changer-screen .center-center .blue{
  transform: rotate(45deg) translate(36vw) rotate(-45deg);
}
@media only screen and (orientation: landscape){
  .color-changer-screen .center-center .blue{
    transform: rotate(45deg) translate(36vh) rotate(-45deg);
  }
}
.color-changer-screen .center-center .green{
  transform: translate(36vw);
}
@media only screen and (orientation: landscape){
  .color-changer-screen .center-center .green{
    transform: translate(36vh);
  }
}
.color-changer-screen .center-center .gray{
  transform: rotate(315deg) translate(36vw) rotate(-315deg);
}
@media only screen and (orientation: landscape){
  .color-changer-screen .center-center .gray{
    transform: rotate(315deg) translate(36vh) rotate(-315deg);
  }
}