.logo-img {
  width: 45px;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon {
  color: #fff;
}
.nav-icon {
  font-size: 1.5em;
  color: white;
}
